@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.tit {
    color: #D8D8D8;
}

.try {
    font-weight: 900;
}

.logo {
    height: px;
    width: 90px;
    /*
    width:40px;
    height:40px;
    */
}

/*parallax style*/
.parallax {
    height: 50vh;
    background-image: url('https://cdn.pixabay.com/photo/2016/11/22/21/57/apparel-1850804_1280.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: -10px;
}

.parallax-content {
    position: relative;
    top: 55%;
    transform: translateY(-50%);
    text-align: center;
    padding: 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
    font-weight: 900;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 1.8rem;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
    font-weight: 800;
}

h4 {
    font-size: 1.2rem;
    font-weight: 600;
}

h5 {
    font-size: 1rem;
    font-weight: 400;
}

h6 {
    color: #D8D8D8;
}

button {
    font-weight: 900;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 13px 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s ease;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 1px;
}

button:hover {
    background-color: coral;
}

.nav-buttons {
    margin-left: 77%;
}

.navbar {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-nav .nav-link {
    padding: 0 20px;
    color: black;
    transition: 0.4s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active .navbar i:hover {
    color: coral;
}

.navbar i {
    font-size: 1.2rem;
    transition: 0.4s ease;
    font-weight: 500;
    cursor: pointer;
    margin-left: 5px;
}


@media (max-width: 768px) {
    .logo {
        width: 80px;
        margin-left: auto !important;
    }

    .navbar {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
    }

    .navbar-toggler {
        margin-right: auto !important;
    }

    .nav-buttons {
        margin: 10px;
    }

    .nav-buttons ul {
        margin: 1rem;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }

    .nav-buttons ul .fas {
        margin: 20px 5px 10px 20px;
    }

    #home {
        background-image: url('../imgs/back2.jpg') !important;
    }

    .parallax {
        width: 100% !important;
        margin: 0 !important;
    }

    .brand {
        height: 160px !important;
        width: 190px !important;
    }

    .ad {
        width: 100%;
    }

    #banner {
        width: 100% !important;
    }

}

#home {
    background-image: url('../imgs/back.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: auto;
    background-position: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#home span {
    color: coral;
}

#new .oneimg {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#new .one {
    position: relative;
}

#new .one .details {
    position: absolute;
    top: 0;
    left: 0;
    color: burlywood;
    font-weight: bold;
    transition: 0.4s ease;
    opacity: 0.8;
    background-color: rgb(1, 1, 1);
    width: 100%;
    height: 100%;
}

#new .one .details:hover {
    background-color: cornsilk;
}

#new .one:nth-child(1) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}

#new .one:nth-child(2) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#new .one:nth-child(3) .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

.c {
    font-size: 48px;
    color: red;
}

.navbar .brand {
    color: coral;
    margin: 3px 5px;
    font-size: 1.5rem;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.single-product input:focus {
    outline: none;
}

.single-product .buy-btn {
    background-color: #fb774b;
    opacity: 1;
    transition: 0.4s all;
}

.single-product .buy-btn:hover {
    background-color: #222222;
}

/* product */

.product {
    cursor: pointer;
    margin-bottom: 2rem;
}

.product img {
    transition: 0.3s all;
    height: 360px;
    width: 390px !important;
    border-radius: 10px;
}

.product:hover img {
    opacity: 0.7;
}

.product .buy-btn {
    background-color: #fb774b;
    transform: translateY(50px);
    opacity: 0;
    transition: 0.3s all;
}

.product:hover .buy-btn {
    transform: translateY(0px);
    opacity: 1;
}

hr {
    width: 100px !important;
    height: 4px !important;
    opacity: 1 !important;
    background-color: #fb774b;
}

.star {
    padding: 10px 0;
}

.star {
    font-size: 0.9rem;
    color: goldenrod;
}

#banner {
    background-image: url("https://www.shutterstock.com/image-photo/woman-white-dress-standing-on-600nw-2321194465.jpg");
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: 30px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#banner h1 {
    color: coral;
}

#banner button {
    background-color: #fb774b;
}

#banner button:hover {
    background-color: #1d1d1d;
}

footer {
    background-color: #222222;
}

footer h5 {
    color: #D8D8D8;
    font-weight: 700;
    font-size: 1.2rem;
}

footer li {
    padding-bottom: 4px;
}

footer li a:hover {
    color: #D8D8D8;
}

footer .copyright a {
    color: #000;
    height: 40px;
    width: 40px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    transition: 0.3s ease;
    margin: 0 5px
}

footer .copyright a:hover {
    color: #fff;
    background-color: #fb774b;
}

footer p {
    color: #999 !important;
    font-size: 14px !important;
}

/* Cart */
.cart table {
    width: 100%;
    border-collapse: collapse;
}

.cart .product-info {
    display: flex;
    flex-wrap: wrap;
}

.cart th {
    text-align: left;
    padding: 5px 10px;
    color: #fff;
    background-color: #fb774b;
}

.cart td {
    padding: 10px 20px;
}

.cart td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.cart td a {
    color: #fb774b;
}

.cart .remove-btn {
    color: #fb774b;
    text-decoration: none;
    font-size: 14px;
}

.cart .edit-btn {
    color: #fb774b;
    text-decoration: none;
    font-size: 15px;
}

.cart .product-info p {
    margin: 3px;
}

.cart-total {
    display: flex;
    justify-content: flex-end;
    text-align: right;
}

.cart-total table {
    width: 100%;
    max-width: 500px;
    border-top: 3px solid #fb774b;
    ;
}

.td:last-child {
    text-align: right;
}

.th:last-child {
    text-align: right;
}

.checkout-container {
    display: flex;
    justify-content: flex-end;
}

.checkout-btn {
    display: flex;
    justify-content: flex-end;
    background-color: #fb774b;
    color: #fff;
}

/* Login */
#login-form {
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #fb774b;
}

#login-form input {
    width: 50%;
    margin: 5px auto;
}

#login-form #login-btn {
    background-color: #fb774b;
    color: #fff;
}

#login-form #register-url {
    color: #fb774b;
}



/* Register */
#register-form {
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #fb774b;
}

#register-form input {
    width: 50%;
    margin: 5px auto;
}

#register-form #register-btn {
    background-color: #fb774b;
    color: #fff;
}

#register-form #login-url {
    color: #fb774b;
}

/*Account*/
#account-form {
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
}

#account-form input {
    margin: 5px auto;
}

#account-form #change-pass-btn {
    color: #fff;
    background-color: #fb774b;
}

.account-info #orders-btn,
#logout-btn {
    color: #fb774b;
    text-decoration: none;
}

/* Checkout */
#checkout-form .checkout-small-element {
    display: inline-block;
    width: 48%;
    margin: 10px auto;
}

#checkout-form .checkout-large-element {
    width: 96%;
}

#checkout-form .checkout-btn-container {
    margin: 10px;
    text-align: right;
    margin-right: 40px;
}

#checkout-form #checkout-btn {
    background-color: #fb774b;
    color: #fff;
}

/* Contact */
#contact span {
    color: #fb774b;
}

.order td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}